parameters:


application:
	errorPresenter: Front:Error
	mapping:
		*: App\*\Presenters\*Presenter

database:
    dsn: 'mysql:host=127.0.0.1;dbname=zhtoolscz9'
    user: zhtools.cz
    password: kaczena8956
    options:
        lazy: true

session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	webDir: App\Services\WebDir(%wwwDir%)
	-   App\Common\Factory\SignFormFactory
	-   App\Common\Factory\MenuFactory
	-   App\Back\Factories\NavBarLinksFactory
	-
	     factory: App\Back\Services\Authenticator
	     autowired: self
	-
	    factory: App\Front\Services\Authenticator
	    autowired: self

