<table
  width="100%"
  class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
  id="{$id}"
  data-handler="{link getData}"
  data-table-columns="{$columns}"
  role="grid" >
  <thead>
  <tr role="row">
    <th n:foreach="$headers as $header">{$header}</th>
    <th>&nbsp</th>
  </thead>
</table>
