<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu dropdown-user">
    <li><a href="#"><i class="fa fa-user fa-fw"></i>{$profile->name} {$profile->surname}</a>
    </li>
    <li><a n:href="logout"><i class="fa fa-sign-out fa-fw"></i> Odhlásit</a>
    </li>
  </ul>
  <!-- /.dropdown-user -->
</li>